<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ateliê Rosa Maria</title> 

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap">

    <script src="./script.js" defer></script>

</head>
<body>
    <form action="">
        <h2>Calcular Frete</h2>
        <div class="produto">
            <label class="produtoLabel">Tiara</label>
            <button class="plus">+</button>
            <input class="amount" type="text" name="amount" readonly="readonly">
        </div>
        <div class="produto">
            <label class="produtoLabel">Biju</label>
            <button class="plus">+</button>
            <input class="amount" type="text" name="amount" readonly="readonly">
        </div>
        <div class="cep">
            <label class="cepLabel">CEP</label>
            <input class="cep" type="text" name="cep">
        </div>
        
        <button class="calcFrete">Calcular Frete</button>

    </form>
    

</body>
</html>