:root{
    --primary-color: #FF69B4;
    --text-color: #DAA520;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
}
body {
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-color:#ffffff;
    color: var(--text-color);
}

form {

    background: #FFF;
    width: 100%;
    max-width: 500px;

    padding: 32px 64px;
    margin: 32px auto;

    border: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
}

form h2{
    margin: 15px auto;
}

div.produto {
    margin-bottom: 20px;
    position: relative;
}

label.produtoLabel{

    font-size: 1.2rem;
    color: var(--primary-color)
}

input,
button{

    /*reset appearance*/

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
}

input.amount{
    position: absolute;
    right: 47%;
    padding-left: 4px;
    margin-left: 5px;
    border-radius: 2px;
    max-width: 5%;
    min-width: 15px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color)
}

div.produto button.plus{
    position: absolute;
    right: 57%;
    width: 15px;
    margin-left: 10px;
    border-radius: 2px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color)
}
div.produto button.minus{
    position: absolute;
    right: 67%;
    width: 15px;
    margin-left: 10px;
    border-radius: 2px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color)
}
div.produto button.plus:active{
    margin-left: 10px;
    border-radius: 2px;
    background-color: var(--primary-color);
    border: none;
    color: #FFF
}
div.produto button.minus:active{
    margin-left: 10px;
    border-radius: 2px;
    background-color: var(--primary-color);
    border: none;
    color: #FFF
}

div.cep{
    margin-top: 25px;
}

input.cepInput{
    padding-left: 3px;
    margin-left: 10px;
    border-radius: 2px;
    max-width: 20%;
    min-width: 70px;
    border: 1px solid #DAA520;
    color: #B8860B;
}


.calcFrete{
    padding: 5px 8px;
    margin-top: 10px;
    border-radius: 2px;
    border: 1px solid var(--primary-color);
    color: #DAA520;
    border: 1px solid #DAA520;
}

.calcFrete:hover:active:focus {
    border: none;
    color: #ffffff;
    background-color: #DAA520;
}

@media (min-width: 450px){

    div.produto button.plus{
        right: 71%;
    }
    div.produto button.minus{
        right: 77%;
    }
    input.amount{
        right: 65%;
    }
    
}